.table {
  width: 100%;
}

.table input {
  height: 1.1rem;
  background: url('../../img/filter.png') no-repeat 3px 3px;
  padding-left: 20px;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.table table button {
  background: none;
  float: right;
  margin: 0;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr:hover {
  background: rgb(247, 246, 246);
  cursor: pointer;
}

.table th {
  background-color: rgb(255, 218, 192);
}

.table td,
.table th {
  border: 1px solid rgb(226, 226, 226);
  padding: 0.5rem;
}

.selectedUser {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
  border: 1px dashed rgb(180, 180, 180);
  width: 50%;
  min-width: 20rem;
  border-radius: 2rem;
  padding: 1rem;
}

.scroll-table {
  width: 100%;
  overflow: auto;
  height: 1200px;
}
